
/* ON CSS PARA LA VISTA DE CADA CURSO Y TEMPLATES*/


  .navbar {
    background-color: #0da7fd;
    position: sticky;
    top: 0;
    z-index: 1000; /* Para que la navbar esté por encima del contenido*/ 
}
  

  
  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

/* CLOSE CSS PARA LA VISTA DE CADA CURSO Y TEMPLATES*/