*{
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 400;
}



/*INICIO CSS CORRESPONDIENTE A LOS INPUTS-LABELS Y PARTE DEL LOGIN */

abbr{
    color: #f29900;
    font-size: 15px;
}


label:hover{
    cursor: text;
}

.label-modifi{
    position: relative;
    z-index: 1;
    top: -58px;
    left: 5px;
    background: white;
    padding: 0 10px 0 10px;
    font-size: 14px;
    color: #6a6f74;
}

input:focus ~ label{
    color: #0a58ca;
}

.form-control:focus {
    border-color: #0a58ca;
    box-shadow: none;
}

.form-control{
    padding: 10px 0 10px 15px;
}

/* END CSS CORRESPONDIENTE A LOS INPUTS-LABELS Y PARTE DEL LOGIN */


/* CSS CORRESPONDIENTE A LAS VISTAS DE ESTUDIANTE */

/* END CSS CORRESPONDIENTE A LAS VISTAS DE ESTUDIANTE */