*{
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 400;
}



/*INICIO CSS CORRESPONDIENTE A LOS INPUTS-LABELS Y PARTE DEL LOGIN */

abbr{
    color: #f29900;
    font-size: 15px;
}


label:hover{
    cursor: text;
}

.label-modifi{
    position: relative;
    z-index: 1;
    top: -58px;
    left: 5px;
    background: white;
    padding: 0 10px 0 10px;
    font-size: 14px;
    color: #6a6f74;
}

input:focus ~ label{
    color: #0a58ca;
}

.form-control:focus {
    border-color: #0a58ca;
    box-shadow: none;
}

.form-control{
    padding: 10px 0 10px 15px;
}

/* END CSS CORRESPONDIENTE A LOS INPUTS-LABELS Y PARTE DEL LOGIN */
.sidebar-container{
    min-width: 200px; 
    position:fixed; 
    top: 0; 
    bottom: 0; 
    width: 10%; 
    height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border-radius: 10px; 
    box-shadow: 2px 0px 8px 0px rgba(0,0,0,0.34);
}
.sidebar-elementos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    list-style: none;
    padding-left: 0;
}

.elemento-sidebar{
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    border: 1px solid #868484;
    border-radius: 5px;
    
}

.elemento-sidebar:hover{
    background-color: #4c83d6;
    border-radius: 5px;
    
}

.item-sidebar{
    width: 70%;
    
}

/* CSS CORRESPONDIENTE A LAS VISTAS DE ESTUDIANTE */

/* END CSS CORRESPONDIENTE A LAS VISTAS DE ESTUDIANTE */